// Body
$body-bg: #fff;
$body-font-color: $near-black;

// Typography
$body-font-family: 'Open Sans', sans-serif;
// $headline-font: 'Raleway', serif;

$font-size-base: 18px;
$line-height-base: 24px;


//Spinner Variables
$spin-offset: 187;
$spin-duration: 1.4s;
