/* ==========================================================================
// Layout
============================================================================= */
// 1. AllNotes


/* 1.All Notes
========================================================================== */
.all-notes {
	&__item {
		transition: all 0.3s ease;
		h3 {
			font-size: $font-size-base;
		}
		&:hover {
			@extend .shadow-5;
			h3 {
				color: $dark-green;
			}

		}
	}
}

.note {
	&__copy {
		white-space: pre-line;
	}
}